body {
   margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column; /* vertical layout */
    height: 100vh;;
    width: 100vw;
}

.top {
    height: 15%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.bottom {
    height: 85%;
    background-color: #cccccc;
}

h1 {
    font-size: 16px;
    color: #333;
}

#loading { 
    outline: none; 
    border: none; 
    background-color: rgba(255, 255, 255, 0.9); 
    z-index: 9999; position: relative; 
}